$grey : grey;
$pink : rgb(250,106,107);

.textfeildcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    min-height:50px;
    background-color: white;
    border: 2px solid $pink;
    margin-top: 20px;
}
.feildcontainer{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.textfeildicon{
    min-height:50px;
    font-size: 50px;
    width:30%;
    background-color: $pink;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textinput{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.MuiInput-underline::after{
    border-bottom: none !important;
}
.MuiInput-underline::before{
    border-bottom: none !important;
}
.addinput {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px !important;
    background-color: $pink;
}
.add_text_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-wrap: wrap;
    margin-top: 20px;
}
.add_btn_container{
    margin: 30px;
}

.form_generator_table_container{
    margin-top: 90px !important;
    height:125vh;
    
    overflow-y: auto;
padding-left: 30px;
padding-right: 30px;


}

.formscroll{
    height:125vh;
    
    overflow-y: auto;

}
.form_generator_table_container::-webkit-scrollbar {
    display: none;
    }
    .formscroll::-webkit-scrollbar {
        display: none;
        }
  
    .MuiInputBase-input {
        margin-left: 10px !important;
        
        width: 400px !important;    
    }
/* ////////////////////////////////////////////////////////////////////////// */

.mobileviewcontainer{
    width: 18%;
    height: 80vh;   
    position: fixed;
    padding:0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    border-radius: 20px;
    border: 10px solid $grey;

}
.mobileviewcontainer::-webkit-scrollbar {
    display: none;
    }
.mobileviewbox{
    width: 40%;
    height: 20px;
    margin: 0 auto;
    background-color: $grey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.radioFeild{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.feildcontain{
    height: 30px !important;
}
.MuiCheckbox-colorPrimary.Mui-checked {
    color: rgb(250,106,107);
}