.form_card_container{
    width: 95vw;
    height: 90vh;
    margin: 0 auto;
    margin-top: 80px;
    padding: 10px;
    padding-left:0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: lightgrey;
    overflow-y: auto;
  }
  .form_content{
    min-height: 200px;
    background-color: green ;
  }